In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data1.csv')

In [3]:
df.head()

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
0,702,2019-04-19 05:37:35,PONFERRADA,MADRID,2019-06-02 15:00:00,2019-06-02 19:42:00,MD-AVE,59.50,Turista con enlace,Flexible
1,703,2019-04-19 05:37:35,PONFERRADA,MADRID,2019-06-02 17:15:00,2019-06-02 23:03:00,MD-AVE,34.65,Turista con enlace,Promo +
2,704,2019-04-19 05:37:35,PONFERRADA,MADRID,2019-06-02 17:15:00,2019-06-02 23:10:00,MD-LD,39.95,Turista con enlace,Promo +
3,705,2019-04-19 05:37:35,PONFERRADA,MADRID,2019-06-02 17:15:00,2019-06-02 22:14:00,MD-AVE,40.60,Turista con enlace,Promo +
4,706,2019-04-19 05:37:35,PONFERRADA,MADRID,2019-06-02 18:55:00,2019-06-02 23:03:00,ALVIA,27.90,Turista,Promo

In [4]:
df.price.mean()

56.7238772050449

In [5]:
df.loc[(df.train_type=='MD-AVE')&(df.train_class=='Turista con enlace')&(df.fare=='Promo +'),'price'].mean()

38.33102189781042

In [6]:
df.price.isnull().sum()

13588

In [7]:
#df.dropna(subset=['train_class', 'fare'], how='all', inplace=True)

In [8]:
df['train_type'].unique()

array(['MD-AVE', 'MD-LD', 'ALVIA', 'REGIONAL', 'AVE', 'INTERCITY',
       'AVE-MD', 'AVE-LD', 'R. EXPRES', 'AVE-TGV', 'AV City', 'MD',
       'LD-MD', 'LD', 'LD-AVE', 'TRENHOTEL'], dtype=object)

In [9]:
df['train_class'].unique()

array(['Turista con enlace', 'Turista', 'Preferente', 'Turista Plus', nan,
       'Cama Turista'], dtype=object)

In [10]:
df['fare'].unique()

array(['Flexible', 'Promo +', 'Promo', 'Adulto ida', 'Mesa', nan],
      dtype=object)

In [11]:
for train_type in df['train_type'].unique():
    for train_class in df['train_class'].unique():
        for fare in df['fare'].unique():
            df.loc[(df['train_type']==train_type)&(df['train_class']==train_class)&(df['fare']==fare)&(df['price'].isnull()),'price']=df.loc[(df['train_type']==train_type)&(df['train_class']==train_class)&(df['fare']==fare),'price'].mean()

In [13]:
df.shape

(215909, 10)

In [12]:
df.isnull().sum()

Unnamed: 0        0
insert_date       0
origin            0
destination       0
start_date        0
end_date          0
train_type        0
price          2205
train_class     643
fare            643
dtype: int64

In [31]:
df[df.price.isnull()]

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
200236,2279463,2019-04-16 23:28:13,MADRID,SEVILLA,2019-06-02 13:10:00,2019-06-02 20:51:00,MD-LD,NaN,Preferente,Promo
200478,2285069,2019-04-17 00:24:46,MADRID,SEVILLA,2019-06-02 13:10:00,2019-06-02 20:51:00,MD-LD,NaN,Preferente,Promo
200501,2285092,2019-04-17 00:24:51,MADRID,SEVILLA,2019-06-01 13:10:00,2019-06-01 20:51:00,MD-LD,NaN,Preferente,Promo
207140,2413023,2019-04-17 23:16:52,SEVILLA,MADRID,2019-06-02 20:36:00,2019-06-02 23:14:00,ALVIA,NaN,Turista Plus,Flexible
207647,2424867,2019-04-18 01:22:50,SEVILLA,MADRID,2019-06-02 20:36:00,2019-06-02 23:14:00,ALVIA,NaN,Turista Plus,Flexible

In [29]:
df.loc[(df.train_type=='MD')&(df.train_class=='Preferente')&(df.fare=='Promo'),'price'].mean()

nan

In [15]:
df.loc[(df.train_class.isnull())&(df.fare.isnull())&(df.price.isnull())]

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
6606,117401,2019-04-20 02:44:09,MADRID,BARCELONA,2019-06-01 20:30:00,2019-06-01 23:40:00,AVE,NaN,NaN,NaN
6826,121234,2019-04-20 03:32:19,MADRID,BARCELONA,2019-06-01 20:30:00,2019-06-01 23:40:00,AVE,NaN,NaN,NaN
7244,128574,2019-04-20 04:44:26,MADRID,BARCELONA,2019-06-01 20:30:00,2019-06-01 23:40:00,AVE,NaN,NaN,NaN
7524,134512,2019-04-20 05:44:05,MADRID,BARCELONA,2019-06-01 20:30:00,2019-06-01 23:40:00,AVE,NaN,NaN,NaN
7591,135974,2019-04-20 06:05:40,MADRID,BARCELONA,2019-06-01 20:30:00,2019-06-01 23:40:00,AVE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
206034,2391725,2019-04-17 19:32:49,PONFERRADA,MADRID,2019-06-01 13:44:00,2019-06-01 21:48:00,LD-MD,NaN,NaN,NaN
206353,2398206,2019-04-17 20:36:39,PONFERRADA,MADRID,2019-06-01 13:44:00,2019-06-01 21:48:00,LD-MD,NaN,NaN,NaN
206554,2401832,2019-04-17 21:19:09,PONFERRADA,MADRID,2019-06-01 13:44:00,2019-06-01 21:48:00,LD-MD,NaN,NaN,NaN
206895,2407148,2019-04-17 22:17:23,PONFERRADA,MADRID,2019-06-01 13:44:00,2019-06-01 21:48:00,LD-MD,NaN,NaN,NaN
207073,2411862,2019-04-17 23:08:28,PONFERRADA,MADRID,2019-06-01 13:44:00,2019-06-01 21:48:00,LD-MD,NaN,NaN,NaN